.button {
    width: 200px;   
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.67;
    background: #E8C300;
    cursor: pointer;
    transition:  0.3s ease;
    transition: 0.2s ease-in;
    padding: 20px;
    border: 0;    
}

.button:hover {
    box-shadow: 0 0 10px #000000;
    transform: scale(1.03);
}

@media screen and (max-width: 767px) {
    .button {
        max-width: 150px;
        padding: 15px;
    }
}

@media screen and (max-width: 374px) {
    .button {
       max-width: 100px;
        /*padding: 10px;*/
        font-size: 10px;
    }
}

