.header__nav-container {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 532px;
    display: grid;
    grid-template-columns: repeat(4, minmax(65px, 133px));
}

@media screen and (max-width: 767px) {
    .header__nav-container {
        grid-template-columns: repeat(2, minmax(65px, 133px));
    }
}